<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/content.css" />
    <title>Header</title> 
</head>
<header>
    <ul>
        <li> <a href="/">HOME</a></li>
        <li> <a href="/new">NEW POST</a></li>
    </ul>
</header>
