<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <%- include ("partials/header.ejs") %>
 <h1>Proceed here with your new post. </h1>
    <form action="/submit" method="POST">
     <label for ="title">Title of post: </label>
     <input type="text" name="title" required>

     <br/>
     <br/>

     <label for="content">Write down your thoughts here:</label>
     <input type="text" name="content" required>

     <input type="submit" value="Submit">

    </form>
</body>
</html>

